#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MAC      0
#define WIN      1
#define NUM      2
#define FUNC     3

/ {
    behaviors {
        // tap: Cmd+Shift+4 (範囲スクショ) / hold: Cmd+Shift+5 (スクショメニュー)
        ss_ht: ss_ht {
            compatible = "zmk,behavior-hold-tap";
            label = "SS_HT";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        // Windows用: hold=LCTRL, tap=無変換(IME英数切替)
        ctrl_muhen: ctrl_muhen {
            compatible = "zmk,behavior-hold-tap";
            label = "CTRL_MUHEN";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    macros {
        // BT0プロファイルに切替 + Macレイヤー固定
        bt_mac: bt_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to MAC>;
            label = "BT_MAC";
        };

        // BT1プロファイルに切替 + Winレイヤー固定
        bt_win: bt_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to WIN>;
            label = "BT_WIN";
        };
    };

    combos {
        compatible = "zmk,combos";

        // ESC: Q + W
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        // TAB: A + S
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        // 英数: D + F
        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        // 左クリック: J + K
        combo_lclick {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&mkp MB1>;
        };

        // 右クリック: K + L
        combo_rclick {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&mkp MB2>;
        };

        // 前タブ: U + I (Ctrl+Shift+Tab)
        combo_tab_prev {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp LC(LS(TAB))>;
        };

        // 次タブ: I + O (Ctrl+Tab)
        combo_tab_next {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp LC(TAB)>;
        };

        // 戻る: M + , (Cmd+[)
        combo_back {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp LG(LBKT)>;
        };

        // 進む: , + . (Cmd+])
        combo_forward {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp LG(RBKT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Mac (Cmd tap=Ctrl+Space で macOS入力ソーストグル)
        // ENTER hold=LALT (AeroSpaceでAlt+◯◯多用するため)
        mac_layer {
            bindings = <
&kp Q     &kp W     &kp E      &kp R          &kp T               &kp Y     &kp U           &kp I      &kp O    &kp P
&kp A     &kp S     &kp D      &kp F          &kp G               &kp H     &kp J           &kp K      &kp L    &kp SEMI
&kp Z     &kp X     &kp C      &kp V          &kp B               &kp N     &kp M           &kp COMMA  &kp DOT  &kp APOS
&kp LALT  &mo FUNC  &kp LCTRL  &lt NUM SPACE  &mt LCMD LC(SPACE)  &kp BSPC  &mt LALT ENTER  &kp RSHFT  &none    &ss_ht LG(LS(N5)) LG(LS(N4))
            >;
        };

        // Layer 1: Windows
        win_layer {
            bindings = <
&kp Q     &kp W     &kp E      &kp R          &kp T                           &kp Y     &kp U           &kp I      &kp O    &kp P
&kp A     &kp S     &kp D      &kp F          &kp G                           &kp H     &kp J           &kp K      &kp L    &kp SEMI
&kp Z     &kp X     &kp C      &kp V          &kp B                           &kp N     &kp M           &kp COMMA  &kp DOT  &kp APOS
&kp LGUI  &mo FUNC  &kp LCTRL  &lt NUM SPACE  &ctrl_muhen LCTRL INT_MUHENKAN  &kp BSPC  &mt LALT ENTER  &kp RSHFT  &none    &kp LG(LS(S))
            >;
        };

        // Layer 2: NUM (記号もここに集約)
        num_layer {
            label = "NUMBER";
            bindings = <
&kp MINUS  &kp N1  &kp N2  &kp N3  &kp PLUS   &kp CARET  &kp AMPS  &kp TILDE  &kp LPAR  &kp RPAR
&kp SLASH  &kp N4  &kp N5  &kp N6  &kp N0     &kp EXCL   &kp AT    &kp HASH   &kp DLLR  &kp PRCNT
&kp ASTRK  &kp N7  &kp N8  &kp N9  &kp DOT    &kp LBKT   &kp RBKT  &kp LBRC   &kp RBRC  &kp BSLH
&trans     &trans  &trans  &trans  &trans     &trans     &trans    &trans     &trans    &trans
            >;
        };

        // Layer 3: FUNCTION
        // F-keys + BT/MC が中心。タブ操作と戻る進むはコンボに移行済み。
        // ワークスペース切替は ENTER hold(Alt) + SPACE hold(NUM) + 数字位置 で代替
        func_layer {
            label = "FUNCTION";
            bindings = <
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5         &bt_mac    &bt_win   &kp LC(UP)  &bt BT_CLR  &bt BT_CLR_ALL
&kp F6   &kp F7   &kp F8   &kp F9   &kp F10        &trans     &trans    &trans      &trans      &trans
&kp F11  &kp F12  &trans   &trans   &trans         &trans     &trans    &trans      &trans      &trans
&trans   &trans   &trans   &trans   &trans         &trans     &trans    &trans      &trans      &trans
            >;
        };
    };
};
